body {
        font-family     : sans-serif;
        font-size       : 11pt;
        text-align      : justify;
        margin          : 30px 30px 30px 30px;
        background	: #EEE9E9;
}
h1, h2, h3{
        text-shadow     : 2px 2px 8px #888;
}

#contenedor {
        width           : 1000px;
        margin          : 1px auto 20px auto;
        background      : #FFF;
        border-radius   : 20px;
}
#encabezado {
        color           : #000000;
        font-family     : sans-serif;
        text-align      : center;
        height          : 120px;
        background      : #DCDCDC;
        border-radius   : 20px 20px 0px 0px;
}
#encabezado h1{
        font-size   :40pt;
        font-weight :normal;
	margin      :0;
        padding     :0; 
}
#encabezado h2{
        font-size   :14pt;
        font-weight :normal;
        margin      :0;
        padding     :0; 
}
#formulario{
	margin		:30px;
}
#registro{
	text-align	: center;
	background	: #6495ED;
	border-radius	: 20px 20px 20px 20px;
	font-size: 20px;
	font-weight: bold;
}
th{
	text-align	: justify;
	
}
#tabla{
	border		: groove;
	border-color	: #836FFF;
	border-radius	: 20px 20px 20px 20px; 
	width		: 800px;
	height		: 400px;
	padding		: 5px 5px 5px 5px;	 
}
#imagen{
	float		: left;
	width		: 100px;
	height		: 100px;
        margin-left	: 20px;
	margin-top	: 10px;
}
#imagen1{
	float		: right;
	width		: 100px;
	height		: 100px;
	margin-right	: 20px;
        margin-top	: 10px;
}

/* yuberli */
#lista {
	width		: 400px;
	border		: 2px solid;
	border-collapse	: collapse;
	border-color	: #4169E1;
	background	: #EEDFCC;
	text-align	: center;
	font-size	: large; 
	margin		: -58px 0px 0px 0px;
}
#botones2{
	margin		: 20px -30px 0px 0px; 
}
#image{
	float		: left;
	width		: 100px;
	height		: 150px;
        margin-left	: 20px;
	margin-top	: -200px;
}	
#imagen2{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 53px 145px -70px 50px;
}
#imagen3{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 50px 125px -110px 50px; 
}
#imagen4{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 75px 145px 70px 50px; 
}
#imagen5{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 75px -95px 50px 50px;  
}
#imagen6{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 100px -70px 70px 50px; 
}
#imagen7{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 100px -95px 50px 50px;  
}
#imagen8{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 125px -70px 70px 50px; 
}
#imagen9{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 125px -95px 50px 50px;  
}
#imagen10{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 150px -70px 70px 50px; 
}
#imagen11{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 150px -95px 50px 50px;  
}
#imagen12{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 175px -70px 70px 50px; 
}
#imagen13{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 175px -95px 50px 50px;  
}
#imagen14{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 200px -70px 70px 50px; 
}
#imagen15{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 200px -95px 50px 50px;  
}
#imagen16{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 225px -70px 70px 50px; 
}
#imagen17{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 225px -95px 50px 50px;  
}
#imagen18{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 250px -70px 70px 50px; 
}
#imagen19{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 250px -95px 50px 50px;  
}
#imagen20{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 275px -70px 70px 50px; 
}
#imagen21{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 275px -95px 50px 50px;  
}
#imagen22{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 300px -70px 70px 50px; 
}
#imagen23{
	float		: right;
	width		: 20px;
	height		: 20px;
	margin		: 300px -95px 50px 50px;  
}

/* yuberli */
/*germain */

#imagenpinguino{
	width		: 110px;
	height		: 150px;
	margin		: -8px 0px 0px 0px; 
}

#imagenes{
	float		: left;
	width		: 160px;
	height		: 150px;
	padding		: 10px 10px 10px 10px;
}
#titulos{
	color		: #000000;
	text-shadow	: 2px 2px 8px #888;
	
}
#primeracelda{
	border		: groove;
	font-family    	: sans-serif;
	font-size	: 14px;
	text-align	: justify;
	border-color	: #1E90FF;
	margin-top	: -10px;
	padding		: 0px 5px 0px 5px;
	width		: 650px;
	height		: 260px;
}
#segundacelda{
	border		: groove;
	font-family    	: sans-serif;
	font-size	: 14px;
	text-align	: left;
	border-color	: #1E90FF;
	padding		: 5px 5px 5px 5px;
	margin		: -8px 0px 0px 0px; 
	
}
#terceracelda{
	border		: groove;
	font-family    	: sans-serif;
	font-size	: 14px;
	text-align	: justify;
	border-color	: #1E90FF;
	padding		: 10px 10px 10px 10px;
	margin		: 5px 0px 0px 0px;	
}
#cuartacelda{
	border		: groove;
	font-family    	: sans-serif;
	font-size	: 14px;
	text-align	: left;
	border-color	: #1E90FF;
	padding		: 10px 10px 10px 10px;
	margin		: 2px 0px 0px 0px;	 
}
#botones{
	padding: 10px 10px 10px 10px;
}
/*germain */
#menu{
-moz-border-radius      :5px;
-webkit-border-radius   :5px;
    border-radius       :5px;
    -webkit-box-shadow  :1px 1px 3px #888;
    -moz-box-shadow     :1px 1px 3px #888;
}
#menu li{
    border-bottom       :1px solid #FFF;
}
#menu ul li, #menu li:last-child{
        border          :none
}	
a{
	display         :block;
	color           :#FFF;
	text-decoration :none;
	font-family     :sans-serif;
	font-size       :13px;
	padding         :3px 5px;
	text-shadow     :1px 1px 1px #325179;
}
#menu a:hover{
	color           :#F9B855;
    -webkit-transition  : color 0.2s linear;
}
#menu ul a{
    background-color    :#6594D1;
}
#menu ul a:hover{
    background-color    :#FFF;
    color               :#2961A9;
    text-shadow         :none;
    -webkit-transition  :color, background-color 0.2s linear;
}
ul{
	display         :block;
	background-color:#2961A9;
	margin          :0;
	padding         :0;
	width           :130px;
	list-style      :none;
}
#menu ul{
    background-color    :#6594D1;
}
#menu li ul {
        display         :none;
}

#lateral{
        float           : left;
        width           : 130px;
        padding         : 10px 20px;
        vertical-align  : top; 
}
#pie{
        padding         :20px;
        text-align      :center;
        font-style      :italic;
        clear           :left;
        color           :#FFF;
        background-color:#000;
        border-radius   :0 0 20px 20px;
}
