body{

font-family     : sans-serif;
        font-size: 10pt;
        text-align: justify;
        margin : 30px 30px 30px 30px;
        background	: #F0F8FF;

}
h1,h2{
    text-shadow : 2px 2px 8px #888;
    
}
#todo {
        width           : 1000px;
        margin          : 2px auto 10px auto;
        background      : #B9DCFF;
        border-radius   : 10px;
}

a{text-decoration:none;
  color:black;
} 

 
 #encabezado{
  padding : 20px 0 0px 40px;
  height : 100px;
  background :#F0F8FF;
  color:#000000;
  font-family     : sans-serif;
  text-align      : center;
  border-radius   : 20px 20px 0px 0px;
  
}
#encabezado h1{
 font-size: 30pt;
 margin: 0;
 padding: 0;
 }
 

#lateral{
 margin:auto;
 float: left;
 width: 200px;
 padding:10px;
 vertical-align: top;
}

    
.menu-lateral ul{
  list-style-type: none;
  padding: 0px;
  
}

.menu-lateral ul li, .menu-lateral ul li:visited{
 margin: 0px;
 padding: 1px;
 border-radius:5px;
}
.menu-lateral li a { 

 text-decoration: none ;
     display: block;
     padding:5px 5px;
      border-radius: 5px;
                    }
 
 .menu-lateral li a:hover
 {   background-color: #000000;
   
}
 .menu-lateral li ul{
display:none;
position: absolute;
 min-width:140px;
 
 }
 
 .menu-lateral li:hover > ul {
 display:block;
                        
}
 
 .menu-lateral > li 
 
{ 
float:left;
}
   .menu-lateral li ul li {
   
                        background-color    : #75BAFF;
                        width               : 150px;
                        position            :relative;
                        right               :-140px;
                        top                 :-45px;
                    }
                    
                     .menu-lateral li ul li ul{
                   
                     right:-10px;
                     top:45px;
                    }
                    .menu-lateral li ul li ul li{
                    background-color    : #75BAFF;
                        width               : 150px;
                        position            :relative;
                        right               :-140px;
                        top    
                    }
                     .menu-lateral li ul li ul li ul{
                   
                     right:-10px;
                     top:45px;
                    }
                     a:hover {
                        color                : #64B1FF ;
                        text-decoration      : underline ;
                        background-color     : #0080C0;
                    }


 
 
.azul ul li{
 background-color: #006fb7;
}

.azul ul li{
 background-color: #006fb7;
}
.blanco ul li {
 background-color: #6CB6FF;
}

.letra-blanca ul li a{
 color: #fff;
}



 

#pie{
        padding         :20px;
        text-align      :center;
        font-family     : sans-serif;
        clear           :left;
        color           :#000000;
        background-color:#0080FF;
        border-radius   :0 0 20px 20px;
}


