body{

font-family     : sans-serif;
        font-size: 10pt;
        text-align: justify;
        margin : 30px 30px 30px 30px;
        background	: ;
        padding-top: 0px;
        padding-bottom: 0px


}

.container2 {

margin : 0px 30px 30px 30px;

border-radius   : 10px 10px 10px 10px;

} 

.color_fondo {

text-align: center;

        margin          : 2px 0px 2px 0px;
        background      :#006dcc;
        border-radius   : 10px;
        font-family     : sans-serif;
        padding : 10px  20px 10px;
        border-radius   : 10px 10px 0px 0px;

}

@media all and(max-width: 480px){
	.hero-unit h2{
     font-size: 25px;
    padding-bottom: 15px;
    text-shadow : 2px 2px 8px #888;
    text-align: center;



	}
}


 


