/*!CK:590135292!*//*1382925733,173220919*/

html ._4g5r .fbChatSidebar, ._5ap0, ._56h3{font-family:'Helvetica Neue', Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-weight:500}
._59j-, ._5ap0, ._4g5r .fbChatSidebar{-moz-transform:translateZ(0)}
html .safari ._50d1{-moz-transform:translateZ(0)}
.safari._4g5r ._50d2, .safari ._5ap0:hover, .safari._4g5r .fbChatSidebar:hover{-moz-transform:none}
._4-pr{position:relative}
._4-p6{bottom:-10px;left:-4px;position:absolute;right:-4px;top:-10px;z-index:-1}

#bootloader_QMAV6 { height: 42px; }
.bootloader_QMAV6 { display:block !important; }