/*!CK:2349207127!*//*1382928598,178129733*/

button.async_saving .default_message,
a.async_saving .default_message,
form.async_saving .default_message,
.saving_message{display:none}
.default_message,
button.async_saving .saving_message,
a.async_saving .saving_message,
form.async_saving .saving_message{display:inline}
.async_throbber .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.async_throbber_left .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat left;padding-left:20px}
.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,
.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{padding:0 0 0 .37em;white-space:nowrap}
.text_exposed_link_icon{margin:0 0 -1px 4px}
.text_exposed .text_exposed_link{display:none !important}
button.as_link{-moz-user-select:text;background:none;border:none;color:#3b5998;cursor:pointer;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:100%;margin:0;overflow:visible;padding:0;text-align:left;width:auto}
button.as_link::-moz-focus-inner{border:0;padding:0}
button.as_link:hover span, button.as_link:focus span{text-decoration:underline}
button.as_link .button_img{margin:0 6px 0 0;vertical-align:text-bottom;width:16px;height:16px}
._3-7{display:none}
.child_was_focused ._3-7{display:block}
body ._11a .highlighter{padding:5px}
._11a .metadataFragment{color:#777}
._11a .metadataFragment .placeToken, ._11a .metadataFragment .withToken, ._11a .metadataFragment .og_composer_object{color:#3b5998;cursor:pointer;position:relative;z-index:2}
._11a .metadataFragment .withToken.weakReference{color:gray;display:inline-block}
._11a .metadataFragment .withToken:hover, ._11a .metadataFragment .og_composer_object:hover{text-decoration:underline}
._1dsq{border-right:1px solid #e0e0e0;display:inline-block;float:left;height:30px;text-align:center}
._1dsq ._1dsr{display:inline-block;height:30px;width:29px}
._1dsq, ._1dsq ._1dsr{outline-offset:-5px}
._1dsq:hover{background-color:#e9e9e9}
._509o, ._509o:hover{background-color:#fafafa;border-top:1px solid #f2f2f2;margin-top:-1px}
._1dsv ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-107px -153px}
._1dsa ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-137px -153px}
._1dsw ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-47px -153px}
._1dsw._1dsx ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-77px -153px}
._1dss{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-227px -153px;width:29px}
._1dsb{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-257px -153px;width:29px}
._5khr ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-287px -153px;width:29px}
._5khr.selected ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-317px -153px}
._4-px{display:none}
.highContrast ._4-px{display:block}
.highContrast ._1dsr{width:auto}
div._14n, div._14o{border:0;border-top:1px dashed #bdc7d8;padding:0}
._14o .inputtext{min-width:160px}
div._14n .wrap{border:0}
div._5o9{margin:2px;padding:4px}
div._5o9 .fofUserEdClose{float:right}
._4-jj ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-167px -153px}
._4-jh ._1dsr{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-197px -153px}
._42i{border:0;border-top:1px dashed #bdc7d8;overflow:auto;padding:0}
div._42i .uiTypeahead{border:0}
div._42i .uiTypeahead .wrap{border:0}
div._42i .uiTypeahead .selected input.inputtext{padding-left:0}
div._42i .verbText{background-color:#e2e8f6;float:left;padding:3px 3px 3px 3px}
div._42i.litestand .verbText{padding-top:2px}
._2yg{border:1px solid #b4bbcd;position:relative}
._2yg .composerTypeahead, ._2yg .composerTypeahead .wrap{border:0}
._2yg .input{font-size:13px;height:16px;padding:0;resize:none;vertical-align:bottom}
._2yg .uiMentionsInput .highlighter{font-size:13px}
._2yg .composerTypeahead .wrap{padding:5px}
._4_z2 .input, .child_was_focused ._2yg .uiMentionsInput .input{min-height:48px}
._1dsp{background-color:#f2f2f2;border-top:1px solid #e6e6e6}
._1dso{margin:4px}
button._11b{padding:0 16px}
._1zja{background-color:rgba(255, 255, 255, .95);border:2px dashed #7e97ba;border-radius:3px;color:#7e97ba;display:none;font-size:16px;font-weight:bold;height:100%;left:-2px;position:absolute;text-align:center;top:-2px;width:100%;z-index:150}
.fbDropReady ._1zja{border-color:#75a3f5;color:#75a3f5}
._1zjb{display:table;height:100%;width:100%}
._4_9w, ._4_9x, ._4_9y, .fbWantsDragDrop.fbDropReady ._1zjd{display:none}
.fbDropReadyLink ._4_9w, .fbDropReadyPhoto ._4_9x, .fbDropReadyPhotos ._4_9y, .fbWantsDragDrop ._1zjd{display:table-cell;vertical-align:middle}
.fbWantsDragDrop ._1zja{display:block}
._6kb ._6mv{color:#4e5665;overflow:initial;position:relative;top:-1px;width:auto}
._6kb ._6mv .UFIRow{background:0;border:0;margin:1px 12px 0;padding:8px 0 0}
._4vcw ._6kb ._6mv .UFIRow{padding:6px 0 0}
._6kb ._6mv .UFIRow.UFIFirstComponent{padding-top:0}
._6kb ._6mv .UFIRow.UFIAddComment, ._6kb ._6mv .UFIRow.UFIAddCommentLink{padding:0 0 8px}
._6kb ._6mv .UFIRow.UFILastComponent, ._6kb ._6mv .UFIReplyList.UFILastComponent{padding-bottom:9px}
._4vcw ._6kb ._6mv .UFIRow.UFILastComponent, ._4vcw ._6kb ._6mv .UFIReplyList.UFILastComponent{padding-bottom:7px}
._6kb ._6mv .UFIRow.UFIFirstCommentComponent{border-top:1px solid #ebebeb;margin-top:0;padding-top:8px}
._4vcw ._6kb ._6mv .UFIRow.UFIFirstCommentComponent{padding-top:6px}
._6kb ._6mv .UFIRow.UFIPagerRow.UFIFirstCommentComponent{padding-top:7px}
._6kb ._6mv .UFIRow.UFILastCommentComponent, ._6kb ._6mv .UFIReplyList.UFILastCommentComponent{padding-bottom:8px}
._4vcw ._6kb ._6mv .UFIRow.UFILastCommentComponent, ._4vcw ._6kb ._6mv .UFIReplyList.UFILastCommentComponent{padding-bottom:6px}
._6kb ._6mv .UFIRow.UFILikeSentence{border-top:1px solid #ebebeb;margin-top:0;padding:8px 0 7px}
._4vcw ._6kb ._6mv .UFIRow.UFILikeSentence{padding:7px 0}
._6kb ._6mv .UFIRow.UFILikeSentence .UFIOrderingModeSelector{margin-top:-2px}
._6kb ._6mv .UFIComment{min-height:35px}
._6kb ._6mv .UFIComment .UFIImageBlockImage{margin-left:0}
._6kb ._6mv .UFICommentContent{max-width:440px}
._5bu2 ._6kb ._6mv .UFICommentContent{max-width:464px}
._6kb ._6mv .UFITranslateLink, ._6kb ._6mv .UFICommentBody a, ._6kb ._6mv .UFIHide a{color:#2e57aa}
._6kb ._6mv .UFICommentBody a.weakReference{color:#898f9c;display:inline-block}
._6kb ._6mv .SeeMoreLink{font-size:100%}
._6kb ._6mv .UFILikeSentence a{font-weight:bold}
._6kb ._6mv .UFILikeSentenceText, ._6kb ._6mv .UFILikeSentenceText a, ._6kb ._6mv .UFIPagerLink, ._6kb ._6mv .UFIReplySocialSentenceRow a, ._6kb ._6mv .UFICommentLink{color:#6a7180}
._6kb ._6mv .UFICommentTip{color:#6a7180;display:block;font-size:12px;margin-top:2px}
._57u0 ._6mv .UFILikeSentence, ._57u0 ._6mv .UFILikeSentence a, ._57u0 ._6mv .UFIPagerLink, ._57u0 ._6mv .UFIReplySocialSentenceRow a, ._57u0 ._6mv .UFICommentTip, ._57u0 ._6mv .UFICommentLink{color:#666}
._52mp, ._6kb ._6mv .UFIComment .UFIImageBlockImage, ._6kb ._6mv .UFIReplyActorPhotoWrapper{position:relative}
._6kb ._6mv .UFIComment .UFIImageBlockImage:after, ._6kb ._6mv .UFIReplyActorPhotoWrapper:after{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-45px -20px;content:'';height:34px;left:-1px;position:absolute;top:-1px;width:34px}
._6kb ._6mv .UFIAddComment .UFICommentStickerButton{right:4px;top:-31px}
._6kb ._6mv .UFIAddComment .UFIAddCommentInput{color:#4e5665;height:30px;padding:7px 8px}
._6kb ._6mv .UFIAddComment .UFIAddCommentInput, ._6kb ._6mv .UFIAddComment .highlighterContent{font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;line-height:16px}
._6kb ._6mv .UFIAddComment .highlighter{margin:0 1px;padding:8px}
._6kb ._6mv .UFIReplyList .UFIAddComment .highlighter{padding:3px}
._6kb ._6mv .UFIAddComment .UFIAddCommentInput.DOMControl_placeholder{color:#898f9c}
._6kb ._6mv .UFIAddComment .UFIAddCommentInput:focus::-webkit-input-placeholder{color:#d3d6db}
._6kb ._6mv .UFIAddComment .UFIAddCommentInput:focus::-moz-placeholder{color:#d3d6db}
._6kb ._6mv .UFIAddComment .UFIAddCommentInput:focus::-ms-input-placeholder{color:#d3d6db}
._6kb ._6mv .UFICommentActions a{color:#232b37}
._6kb ._6mv .UFICommentActions, ._6kb ._6mv .UFICommentActions .uiLinkSubtle, ._6kb ._6mv .UFICommentActions .uiLinkButtonSubtle input{color:#898f9c;font-weight:normal}
._6kb .UFICommentActions{padding-top:1px}
._6kb ._6mv .UFIUnseenItem{border-left:0}
.UFIComment ._52mq{background:#5890ff;bottom:-5px;left:-13px;position:absolute;top:-6px;width:2px}
._4vcw .UFIComment ._52mq{bottom:-3px;top:-5px}
._6kb ._6mv .UFIShareIcon{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-252px -102px;height:26px;width:20px}
._6kb ._6mv .UFIShareIcon:hover{background-position-x:-26px}
._6kb ._6mv .UFISeenCountIcon{background:url(/rsrc.php/v2/y6/r/2wNPXAhTZ_R.png) no-repeat 0 0;height:16px;width:19px}
._6kb ._6mv .UFICommentLikeIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-70px -109px;height:13px;position:relative;top:2px;width:12px}
._6mv .UFICommentLikedButton .UFICommentLikeIcon{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-40px -127px}
._6kb ._6mv .UFICommentActions a.UFICommentLikedButton{color:#5890ff}
._6kb ._6mv .UFICommentReplyIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-61px -126px;height:11px;vertical-align:middle;width:11px}
._6k9{display:block;margin:auto;padding-bottom:10px}
._6kb .UFIAddComment .UFIImageBlockContent{margin-bottom:0;margin-right:0}
._6kb .uiUfi .uiTypeahead, ._6kb .uiUfi .uiTypeahead .wrap{border-color:#cccfd5}
._6kb ._6mv .UFIFeaturedComment .UFICommentActorName{background-color:#d3d6db;border:1px solid #cccfd5;border-radius:2px;margin:-1px -1px -1px -2px;padding:0 1px}
._6kb ._6mv .UFIReplyList{background:0;padding:5px 0 0 40px}
._6kb ._6mv .UFIReplyList .UFIRow{background-color:#e9eaed;border-top:0;margin-top:0;padding:3px 8px}
._6kb ._6mv .UFIReplyList .UFIRow.UFIUnseenItem{border-left:2px solid #5890ff;padding-left:6px}
._6kb ._6mv .UFIReplyList .UFIRow.UFIFirstComponent{border-top:1px solid #d3d6db;padding-top:7px}
._6kb ._6mv .UFIReplyList .UFIRow.UFILastComponent{border-bottom:1px solid #d3d6db;padding-bottom:7px}
._6kb ._6mv .UFIReplyList .UFIPagerRow{line-height:24px}
._6kb ._6mv .UFIReplyList .UFIRow.UFIReplySocialSentenceRow{line-height:24px;padding:3px 4px 3px 8px}
._6kb ._6mv .UFIReplyList .UFIRow.UFIReplySocialSentenceRow .UFICollapseIcon{margin:3px 4px 5px}
._6kb ._6mv .UFIReplyList .UFIRow.UFIReplySocialSentenceRow .UFIPagerIcon{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -127px;height:12px;margin:7px 0 2px;opacity:.6;width:11px}
._6kb ._6mv .UFIReplyList .UFIActorImage{height:24px;width:24px}
._6kb ._6mv .UFIReplyList .UFIComment .UFIImageBlockImage:after, ._6kb ._6mv .UFIReplyList .UFIReplyActorPhotoWrapper:after{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-171px -20px;height:26px;width:26px}
._6kb ._6mv .UFIReplyList .UFIAddComment .UFIAddCommentInput{height:22px;padding:3px 4px}
._6kb .UFIPhotoAttachLinkWrapper{margin-bottom:-31px;top:-31px}
._6kb .UFIReplyList .UFIPhotoAttachLinkWrapper{top:-27px}
._6kb .UFIReplyList .UFICommentPhotoIcon{margin:10px 6px}
._6kb .UFIAddCommentInput{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACAgMAAADgGo6JAAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAABHRSTlMMBwsEGJPSdQAAAAxJREFUCB1jUGAoAQAA2ACVhUrgngAAAABJRU5ErkJggg==);background-repeat:repeat-x;background-size:auto;background-position:0 0}
._6kb ._6mv a.UFICommentActorName, ._6kb ._6mv .UFICommentContent .uiAttachmentTitle a{color:#232b37}
._4-k1{vertical-align:-3px}
._54hs{margin-right:1px;position:relative;top:-2px}
._5llg{margin-right:0;top:2px}
._54hs ._54hx{padding-right:2px}
.UIActionLinks_title{font-size:9px;font-weight:normal;white-space:nowrap;color:#999}
.UIActionLinks_bottom{color:#999}
.UIActionLinks_bottom a,
.UIActionLinks_bottom button.as_link,
.UIActionLinks_bottom .uiLinkButton input,
.UIActionLinks_bottom .uiLinkButton input:hover{color:#6d84b4}
.UIActionLinks .uiBlingBox{color:#3b5998}
.UIActionLinks .promoteButton{margin-top:-2px}
.cmt_like_icon{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-285px -102px;display:inline-block;height:9px;margin-right:3px;width:10px}
.comment_like_button{margin:-5px;padding:5px;padding-top:0;white-space:nowrap}
.comment_like_button:active, .comment_like_button:focus, .comment_like_button:hover{text-decoration:none}
.right-aligned-text{text-align:right}
.left-aligned-text{text-align:left}
._5bw- #fbPhotoSnowliftAuthorPic img, ._5bw- .UFIRow.UFIComment img.UFIActorImage, ._5bw- .UFIRow.UFIAddComment .img.UFIActorImage{padding:1px;position:relative;z-index:-1}
._5bw- .fbPhotoSnowliftAuthorInfo{padding:0 12px}
._5bw- #fbPhotoSnowliftAuthorPic, ._5bw- .UFIRow.UFIAddComment .UFIReplyActorPhotoWrapper{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-45px -20px;content:'';height:34px;left:-1px;margin-top:0;position:relative;top:-1px;width:34px}
._5bw- .rhcHeader{padding-top:20px}
._5bw- ._5b-t{padding:12px 12px 11px}
._5bw- ._5b-u{margin:11px 0 3px;padding-bottom:2px}
._5bw- .fbPhotoLegacyTagList{padding-top:0}
._5bw- .fbPhotoContributorName a, ._5bw- .fbPhotoTagList em, ._5bw- .fbPhotoTagList a, ._5bw- .fbPhotoTagListTag a, ._5bw- ._58cn ._58cl, ._5bw- ._58cn ._58cm, ._5bw- .hasCaption .profileLink, ._5bw- ._5ciw .title a, ._5bw- .ogTagItem, ._5bw- .ogTagItem a{color:#141823}
._5bw- .UFILikeSentence a, ._5bw- .fbPhotoTagListTag a, ._5bw- ._58cn ._58cl, ._5bw- ._58cn ._58cm, ._5bw- ._6j- ._5civ a, ._5bw- .hasCaption .profileLink, ._5bw- .UFIPagerLink, ._5bw- .ogTagItem a{font-weight:bold}
._5bw-._5gqh .hasCaption .profileLink, ._5bw-._5gqh .fbPhotoTagListTag a, ._5bw-._5gqh .fbPhotoContributorName a{color:#3b5998}
._5bw-._5gqh .hasCaption .profileLink, ._5bw-._5gqh .fbPhotoTagListTag a{font-weight:normal}
._5bw- .UFILikeSentenceText, ._5bw- .UFILikeSentence a, ._5bw- .UFIReplySocialSentenceLinkText, ._5bw- ._6j- ._5civ a, ._5bw- .UFIPagerLink{color:#6a7180}
._5bw- .UFICommentActions a, ._5bw- .UFIReplyLink, ._5bw- .UFICommentActorName, ._5bw- .UFICommentLikeButton{color:#232b37}
._5bw- #fbPhotoSnowliftTimestamp, ._5bw- #fbPhotoSnowliftPromote a, ._5bw- #fbPhotoSnowliftPromote, ._5bw- .photoViewerFollowLink em, ._5bw- .photoViewerFollowedMsg em, ._5bw- #fbPhotoSnowliftViewOnApp a, ._5bw- #fbPhotoSnowliftViewOnApp, ._5bw- #fbPhotoSnowliftUseApp, ._5bw- #fbPhotoSnowliftUseApp a, ._5bw- .fbPhotosAppLink, ._5bw- .fbPhotosImplicitLocLink{color:#adb2bb}
._5bw- .UFICommentActions a.uiLinkSubtle{color:gray}
._5bw- .photoUfiContainer{border-radius:3px;right:-3px}
._5bw- ._5ciy ._5cix{margin:2px 0 3px}
._5bw- ._6j- ._5civ{margin-left:-8px}
._5bw- ._6j- ._5civ a{margin:3px 0}
._5bw- ._6j-{border-top:1px solid #ebebeb;float:left;width:100%}
._5bw- .UFIPagerLink{padding-top:7px}
._5bw- .UFICommentPhotoIcon{margin-top:3px}
._5bw- .UFIRow.UFIComment .UFIImageBlockImage{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-45px -20px;content:'';height:34px;left:-1px;position:relative;top:-1px;width:34px}
._5bw- .UFIReplyList .UFIRow.UFIComment .UFIImageBlockImage, ._5bw- .UFIReplyList .UFIRow.UFIAddComment .UFIReplyActorPhotoWrapper{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-171px -20px;content:'';height:26px;width:26px}
._5bw- .UFIReplyList .UFIRow .UFIPagerIcon{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -127px;height:12px;margin:6px 0 2px;opacity:.6;width:11px}
._5bw- .UFICommentLikeIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-70px -109px;height:12px;position:relative;top:1px;width:13px}
._5bw- .UFIReplyList{border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb;margin-top:6px;padding:0 8px 2px}
._5bw- .UFIReplyList .UFIRow{background-color:#f0f1f3;border-top:none}
._5bw- .UFIReplyList .UFIRow.UFIPagerRow{padding:0 0 2px}
._5bw- .UFIReplyList .UFIPagerLink{padding-top:0}
._5bw- .UFIRow.UFIReplySocialSentenceRow.UFIFirstComponent{padding-bottom:2px}
._5bw- .UFIReplyList .UFIAddComment .UFIAddCommentInput{height:22px;line-height:16px;padding:3px 4px}
._5bw- .UFIReplyList .UFIRow.UFIAddComment.UFILastComponent{padding-bottom:5px}
._5bw- .UFIRow.UFIPagerRow .UFIPagerCount{position:relative;top:7px}
._5bw- .UFIReplyList .UFIRow.UFIReplySocialSentenceRow.UFIFirstComponent.UFILastComponent{padding:4px 0 2px}
._5bw- .pinnedUfi .UFIReplyList .UFIRow.UFIAddComment{border-bottom:none;padding:5px 0 0}
._5bw- .UFIReplyList .UFIRow .UFICollapseIcon{margin:1px 6px 3px 0}
._5bw- .UFIReplyList .UFIRow.UFIComment{border-top:none;padding:5px 0 4px}
._5bw- .UFIReplyList .UFIRow.UFIComment.UFIFirstComponent{border-top:none;margin-top:3px;padding-bottom:0;padding-top:3px}
._5bw- .UFIReplyList .UFIActorImage{height:24px;width:24px}
._5bw- .UFIReplyList .UFIRow:last-child{border-bottom:none}
._5bw- .UFIReplyList .UFIPhotoAttachLinkWrapper{top:-21px}
._5bw- .UFIMentionsInputWrap{z-index:1}
._5bw- .UFIOrderingModeSelector a{margin:-4px 0 -1px}
._5bw- .UFIRow{background:0;padding:8px 0 0}
._5bw- .UFIRow.UFIComment{margin-top:0;padding-top:10px;position:relative;z-index:1}
._5bw- .UFIRow.UFIComment.UFICommentFailed{border-left:none}
._5bw- .UFIRow.UFILikeSentence.UFIFirstComponent{border-bottom:1px solid #ebebeb;padding-bottom:7px}
._5bw- .UFIAddComment .UFIAddCommentInput.DOMControl_placeholder{color:#898f9c}
._5bw- .UFIAddComment .UFIAddCommentInput:focus::-webkit-input-placeholder{color:#d3d6db}
._5bw- .UFIAddComment .UFIAddCommentInput:focus::-moz-placeholder{color:#d3d6db}
._5bw- .UFIAddComment .UFIAddCommentInput:focus::-ms-input-placeholder{color:#d3d6db}
._5bw- .UFIFirstComponent{margin-top:0}
._5bw- .UFIAddComment .UFIAddCommentInput{border-color:#898f9c;height:30px;padding:7px 8px}
._5bw- .UFIRow.UFIPagerRow.UFIFirstCommentComponent{padding:0}
._5bw- .fbPhotosSnowliftFeedback#fbPhotoSnowliftFeedback .UFIRow.UFIFirstComment{padding-top:11px}
._5bw- .UFIRow.UFIUnseenItem.UFILikeSentence.UFIFirstComponent{border-left:none}
._5bw- .pinnedUfi .fbPhotosSnowboxFeedbackInput#fbPhotoSnowliftFeedbackInput .UFIList{padding-bottom:9px}
._5bw- .fbPhotosSnowliftFeedback#fbPhotoSnowliftFeedback ._5exp{background-color:#fafbfb;border-top:1px solid #dee0e3;margin-top:0;overflow-y:hidden}
._5bw- .fbPhotosSnowliftFeedback#fbPhotoSnowliftFeedback ._5exp._5exq{border-bottom:1px solid #dee0e3}
._5bw- .fbPhotosSnowliftFeedback#fbPhotoSnowliftFeedback ._5exp._5exq._5exr{display:none}
._5bw- .fbPhotosSnowliftFeedback#fbPhotoSnowliftFeedback ._5exp._5exq .UFILastComment{padding-bottom:12px}
._5bw- .fbPhotosSnowliftFeedback#fbPhotoSnowliftFeedback ._5exp._5exq .UFILikeSentence.UFILastComponent{border-bottom:none}
._5bw- ._5cis{position:relative}
._5bw- ._5cit{background:#5890ff;bottom:-5px;left:-12px;position:absolute;top:-6px;width:2px}
._5bw- .UFIRow.UFIComment.UFICommentFailed ._5cit{display:none}
._5bw- .UFIAddComment.UFIFirstComponent{padding-top:0}
._5bw- ._5ciw .ego_column > .wrapper:first-child > .inner{padding:0}
._5bw- ._5ciw .ego_column .ego_unit_container{padding:0 12px}
._5bw- ._5ciw .egoOrganicColumn .ego_unit_container{padding:8px 12px 0}
._5bw- ._5ciw .ego_unit_container .wrapper:first-child .ego_unit{padding-top:6px}
._5bw- ._5ciw .ego_section .ego_unit:first-child{padding:12px 0}
._5bw- ._5ciw .ego_section .uiSideHeader{border-bottom:none;margin-bottom:0;padding:10px 12px 0}
._5bw- ._5ciw .adsCategoryTitleLink em, ._5bw- ._5ciw .adsCategoryTitleLink, ._5bw- ._5ciw .egoOrganicColumn .uiHeaderTitle em, ._5bw- ._5ciw .egoOrganicColumn .uiHeaderTitle{font-size:12px;font-weight:bold;text-transform:uppercase}
._5bw- ._5ciw .adsCategoryIcon, ._5bw- ._5ciw .adsCategoryTitleLink{position:relative}
._5bw- ._5ciw .uiHeaderActions, ._5bw- ._5ciw .uiHeader.uiSideHeader em, ._5bw- ._5ciw .uiHeader.uiSideHeader, ._5bw- ._5ciw .adsCategoryTitleLink em, ._5bw- ._5ciw .adsCategoryTitleLink{color:#898f9c}
._5bw- ._5ciw .egoOrganicColumn .ego_unit_container > .wrapper > .inner > .ego_unit{padding-top:0}
._5bw- ._5ciw .egoOrganicColumn .ego_x{position:absolute;right:12px}
._5bw- #inlineEditorSave{margin-bottom:0}
._5bw- .uiTypeahead, ._5bw- .uiTypeahead .wrap{border-color:#cccfd5}
._5bw- #fbPhotoSnowliftInlineEditor form{margin-top:12px}
._5bw- .UFIAddComment .uiMentionsInput .highlighter{left:5px;top:4px}
._5bw- .fbPhotoSnowliftAuthorSubtitle{padding-left:44px}
._5bw- .uiPopover .uiCloseButton, ._5bw- .uiPopover.openToggler .uiCloseButton, ._5bw- .uiPopover.openToggler .uiCloseButton:hover{border:none}
._5bw- ._5dxt{width:266px}
._5bw- .fbPhotosSnowboxFeedbackInput .UFIList{background-color:#fafbfb;border-bottom:1px solid #dee0e3;margin:0;padding:0 12px 10px}
._5bw- .fbPhotosSnowboxFeedbackInput .UFIList._5exq{display:none}
._5bw- .fbPhotosSnowliftFeedback ._5exs ._5ext ._6j-, ._5bw- .fbPhotosSnowliftFeedback ._5exs ._6j-{border-top:none}
._5bw- .uiScrollableArea{bottom:-1px}
._5bw- .UFICommentBody .SeeMoreLink{display:inline-block}
._agk{margin-right:3px;vertical-align:-2.9px}
.audienceSelector{text-align:left}
html .audienceSelector .uiSelectorButton .uiButtonText{max-width:120px}
.audienceSelectorNoTruncate, .audienceSelectorNoTruncate .uiSelectorButton, .audienceSelectorNoTruncate .uiSelectorButton:active, .audienceSelectorNoTruncate .uiSelectorButton:focus
.audienceSelectorNoTruncate .uiSelectorButton:hover, .audienceSelectorNoTruncate .uiButtonSuppressed:active, .audienceSelectorNoTruncate .uiButtonSuppressed:focus, .audienceSelectorNoTruncate .uiButtonSuppressed:hover, .audienceSelectorNoTruncate .uiSelectorButton .uiButtonText{max-width:none !important}
.audienceSelector .uiSelectorButton .customimg{margin-left:-2px;margin-right:2px}
.audienceSelector .uiButtonNoText .customimg{margin-right:-5px}
.showSecondaryOptions li, .audienceSelector .secondaryOption, .audienceSelector .returnOption{display:none}
.showSecondaryOptions li, .audienceSelector .secondaryOption, .audienceSelector .returnOption{display:none}
.showSecondaryOptions .returnOption, .showSecondaryOptions .secondaryOption, .friendList .friendListOption{display:block}
.showSecondaryOptions .uiSelectorMenu{max-height:214px;overflow-y:auto;overflow-x:hidden}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector
.uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.uiSelectorButton, .fbNotePrivacyWidgetContainer .audienceSelector .uiSelectorButton, .fbDetailsPrivacy .audienceSelector .uiSelectorButton, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .uiSelectorButton{padding-top:1px;padding-bottom:1px;padding-left:6px;padding-right:18px;vertical-align:middle}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .wrap
.uiSelectorButton{margin-top:2px}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .wrap
.uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.wrap .uiSelectorButton, .fbNotePrivacyWidgetContainer .audienceSelector .wrap .uiSelectorButton, .fbDetailsPrivacy .audienceSelector .wrap .uiSelectorButton, .uiStreamFooter .audienceSelector .wrap .uiSelectorButton{background-color:transparent;background-image:none}
.permalink_stream:hover .fbStreamPermalinkHeader
.newAudienceSelector.audienceSelector .uiSelectorButton, .uiStream .uiStreamMinistoryGroup:hover .uiStreamPrivacyContainer
.audienceSelector.newAudienceSelector .uiSelectorButton, .fbNotePrivacyWidgetContainer:hover .newAudienceSelector.audienceSelector .uiSelectorButton, .fbDetailsPrivacy:hover .newAudienceSelector.audienceSelector .uiSelectorButton, .uiStream .uiStreamStory:hover .uiStreamFooter
.newAudienceSelector.audienceSelector .uiSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-816px -105px;border:1px solid #ddd}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector
.uiSelectorButton:hover, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.uiSelectorButton:hover, .fbNotePrivacyWidgetContainer .audienceSelector .uiSelectorButton:hover, .fbDetailsPrivacy .audienceSelector .uiSelectorButton:hover, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector
.uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-816px -17px;border:1px solid #999;padding-right:18px}
.permalink_stream:hover .fbStreamPermalinkHeader .audienceSelector .openToggler
.uiSelectorButton, .permalink_stream .fbStreamPermalinkHeader .audienceSelector .openToggler
.uiSelectorButton, .permalink_stream .fbStreamPermalinkHeader .audienceSelector .openToggler
.uiSelectorButton:hover, .uiStream .uiStreamMinistoryGroup:hover .uiStreamPrivacyContainer
.audienceSelector .openToggler .uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.openToggler .uiSelectorButton, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.openToggler .uiSelectorButton:hover, .uiStream .uiStreamStory:hover .uiStreamFooter .audienceSelector .openToggler
.uiSelectorButton, .fbNotePrivacyWidgetContainer .audienceSelector .openToggler .uiSelectorButton, .fbDetailsPrivacy .audienceSelector .openToggler .uiSelectorButton, .fbNotePrivacyWidgetContainer .audienceSelector .openToggler .uiSelectorButton:hover, .fbDetailsPrivacy .audienceSelector .openToggler .uiSelectorButton:hover, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler
.uiSelectorButton, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler
.uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-816px -213px;border:1px solid #999;padding-right:18px;background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;box-shadow:none}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .openToggler
.uiSelectorButton .customimg, .permalink_stream .audienceSelector .openToggler .uiSelectorButton:hover
.customimg, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.openToggler .uiSelectorButton .customimg, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.openToggler .uiSelectorButton:hover .customimg, .fbNotePrivacyWidgetContainer .audienceSelector .openToggler .uiSelectorButton .customimg, .fbNotePrivacyWidgetContainer .audienceSelector .openToggler .uiSelectorButton:hover
.customimg, .fbDetailsPrivacy .audienceSelector .openToggler .uiSelectorButton .customimg, .fbDetailsPrivacy .audienceSelector .openToggler .uiSelectorButton:hover
.customimg, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler
.uiSelectorButton .customimg, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .openToggler
.uiSelectorButton:hover .customimg{margin-left:-1px}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector
.uiSelectorMenuWrapper, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.uiSelectorMenuWrapper, .timelineAudienceSelector .uiSelectorMenuWrapper, .fbNotePrivacyWidgetContainer .audienceSelector .uiSelectorMenuWrapper, .fbDetailsPrivacy .audienceSelector .uiSelectorMenuWrapper, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector
.uiSelectorMenuWrapper{margin-top:0}
.permalink_stream .fbStreamPermalinkHeader .audienceSelector .wrap, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector, .fbNotePrivacyWidgetContainer .audienceSelector .wrap, .fbDetailsPrivacy .audienceSelector .wrap, .uiStream .uiStreamStory .uiStreamFooter .audienceSelector .wrap{margin-top:-3px}
.permalinkBody .fbStreamPermalinkHeader .audienceSelector .uiSelectorButton
.customimg, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.uiSelectorButton .customimg, .fbNotePrivacyWidgetContainer .audienceSelector .uiSelectorButton .customimg, .fbDetailsPrivacy .audienceSelector .uiSelectorButton .customimg, .uiStreamFooter .audienceSelector .uiSelectorButton .customimg{margin-right:0;margin-top:1px}
.permalinkBody .fbStreamPermalinkHeader .audienceSelector .uiSelectorMenu
.itemIcon, .uiStream .uiStreamMinistoryGroup .uiStreamPrivacyContainer .audienceSelector
.uiSelectorMenu .itemIcon, .uiStreamFooter .audienceSelector .uiSelectorOption .itemIcon{display:none}
.composerAudienceWrapper .uiSelectorButton, .composerAudienceWrapper .uiPopoverButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:right -103px}
.composerAudienceWrapper .uiButton .uiButtonText{color:gray;font-weight:normal}
.composerAudienceWrapper .audienceSelector .uiSelectorButton .customimg, .composerAudienceWrapper .uiSelectorButton .img{opacity:.5}
.composerAudienceWrapper:hover .uiButton .uiButtonText{color:#333}
.composerAudienceWrapper .openToggler .uiButton .uiButtonText{color:#fff}
.composerAudienceWrapper:hover .audienceSelector .uiSelectorButton .customimg, .composerAudienceWrapper .openToggler .uiSelectorButton .customimg, .composerAudienceWrapper:hover .uiSelectorButton .img, .composerAudienceWrapper .openToggler .uiSelectorButton .img{opacity:1}
.composerAudienceWrapper .selected .plusLabel{color:#fff}
.fbTimelineFeedbackActions{background-color:#edeff4;padding:5px 12px}
.fbTimelineMiniUFI .fbTimelineFeedbackActions{background:transparent;padding:0}
.fbTimelineFeedbackHeader form{display:inline}
.fbTimelineUFI .UIActionLinks_bottom a, .fbTimelineUFI .fbTimelineFeedbackActions input, .fbTimelineUFI .UIActionLinks .uiLinkButton, .fbTimelineUFI .UIActionLinks .uiLinkButton input, .fbTimelineUFI div.fbTimelineFeedbackActions input:hover, .fbTimelineUFI .fbTimelineFeedbackActions button.as_link{color:#3b5998}
.fbTimelineFeedbackHeader .uiBlingBox, .fbTimelineFeedbackHeader .uiBlingBox:hover{border-style:none;height:13px;padding:0}
.fbTimelineFeedbackHeader .uiBlingBox .text{vertical-align:baseline}
.fbTimelineFeedbackComments a:hover, .fbTimelineFeedbackLikes a:hover, .fbTimelineFeedbackShares a:hover{text-decoration:none}
.fbTimelineFeedbackComments a, .fbTimelineFeedbackLikes a, .fbTimelineFeedbackShares a{padding-left:18px;position:relative}
.fbTimelineFeedbackComments i, .fbTimelineFeedbackLikes i, .fbTimelineFeedbackShares i{display:block;left:0;position:absolute;top:-1px;width:14px}
.fbTimelineFeedbackLikes i{background-image:url(/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px;height:13px}
.fbTimelineFeedbackComments i{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -109px;height:15px}
.fbTimelineFeedbackShares i{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -88px;height:16px}
.fbTimelineUFI{background:#fff;position:relative}
html .timelineUnitContainer .fbTimelineUFI{margin-bottom:-12px}
html .timelineUnitContainer .fbTimelineUFIEmpty{margin-top:-3px}
.fbTimelineUFI .fbUfi{padding:0;width:100%}
.fbTimelineUFI .uiUfi .ufiItem{border:0;padding:5px 12px}
.fbTimelineFeedbackLikes,
.fbTimelineFeedbackComments,
.fbTimelineFeedbackShares{float:right;margin-left:5px}
.fbTimelineOneColumn .fbTimelineUFI .uiUfiComment .commentContent{width:600px}
.fbTimelineMiniUFI{margin:0 0 -2px}
.fbTimelineMiniUFI .miniActionList{display:inline-block}
.fbTimelineMiniUFI .uiLoadingIndicatorAsync{margin:0 0 -2px 6px}
.timelineUnitContainer{position:relative}
.timelineUnitContainer .uiCommentContainer{margin-bottom:-12px;margin-left:-12px;padding-top:3px;width:403px}
.fbTimelineOneColumn .uiCommentContainer{width:843px}
.timelineUnitContainer .aboveUnitContent{margin-bottom:15px}
.timelineUnitContainer .belowUnitContent{margin-top:15px}
.timelineUnitContainer .timelineUnitUndoLink{display:inline-block}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUndoUnitActionList{margin-top:4px;padding-left:12px;list-style-type:disc;list-style-position:outside;color:gray}
.timelineUnitContainer .timelineUndoUnitActionList
.timelineUndoUnitActionListItem{border-style:none;padding-bottom:2px;padding-top:2px}
.timelineUnitContainer .timelineSpamStub{background-color:#f6f7f9;border:1px solid #d3dae8;padding:10px}
.timelineUnitContainer .timelineSpamContent{display:none}
.fbTimelineFeedbackStub.uiCommentContainer{margin-top:12px}
a._58cn:hover{text-decoration:none}
a:hover ._58cm{text-decoration:underline}
._58cn ._58cl{color:#6d84b4}
.UFIContainer ._58cn ._58cl{color:#898f9c}
.uiStreamLargeHeadline .uiStreamStory .uiStreamHeadline{font-size:13px;line-height:1.38}
.uiStreamLargeHeadline .uiStreamStory .ministoryMessage{font-size:11px;line-height:1.28}
.uiStreamStory .uiStreamSubstory .photoRedesign{width:358px}
.uiStreamStory .photoRedesign, .uiStreamStory .uiStreamSubstorySameActor .photoRedesign{width:398px}
.uiStreamStory .uiStreamAttachments .photoRedesignAspect, .uiStreamStory .uiStreamAttachments .photoRedesignCover, .uiStreamStory .uiStreamAttachments .photoRedesignLink{border:0;display:block;float:left;position:relative}
.uiStreamStory .photoRedesignSquare .photoWrap{height:320px;width:320px}
.uiStreamStory .uiStreamSubstory .photoRedesignSquare .photoWrap{height:300px;width:300px}
.uiStreamStory .photoRedesignMiddle .photoWrap{height:196px;width:196px}
.uiStreamStory .uiStreamSubstory .photoRedesignMiddle .photoWrap{height:176px;width:176px}
.uiStreamStory .photoRedesignSmallEdge .photoWrap{margin-right:-1px}
.uiStreamStory .photoRedesignCover{display:block;height:147px;overflow:hidden;position:relative;width:398px}
.uiStreamStory .uiStreamSubstory .photoRedesignCover{height:133px;width:358px}
.uiStreamStory .uiStreamAttachments .photoRedesignAspect .img, .uiStreamStory .uiStreamAttachments .photoRedesignCover .img{display:block;margin:0;max-width:none}
.uiStreamStory .photoRedesignCover .img{position:absolute}
.uiStream .uiStreamStory .photoRedesignNoScale .photoWrap{background:none;text-align:left;width:auto}
.uiStreamStory .photoRedesignAspect:after, .uiStreamStory .photoRedesignCover:after, .uiStreamStory .photoRedesignLink .uiScaledImageContainer:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.photoWrap .photoRedesignFacebox{border:2px solid rgba(255, 255, 255, .8);border-radius:3px;position:absolute}
.uiStreamStory .photoRedesignRightMargin{margin-right:5px}
.uiStreamStory .photoRedesignBottomMargin{margin-bottom:5px}
.uiStreamStory .photoRedesignTopMargin{margin-top:5px}
.uiStreamStory .storyInnerContent .photoRedesignRightMargin{margin-right:2px}
.uiStreamStory .storyInnerContent .photoRedesignBottomMargin{margin-bottom:2px}
.uiStreamStory .storyInnerContent .photoRedesignTopMargin{margin-top:2px}
.uiStream .uiStreamMessage{color:#000;font-size:11px;font-weight:normal;margin:0 0 5px 0}
.uiStream .uiStreamHeadline{margin-bottom:0;outline:none}
.uiStreamHeadline .uiLikePage{float:right;margin:0 -15px 0 15px}
.uiStreamHeadline .uiJoinGroupButton{margin:-5px 30px 0 0}
.uiLikePage.newChevronButton{margin-right:-10px}
.uiStreamHeadlineWithLikeButton{min-height:31px}
.uiStream .uiStreamPassive{margin-bottom:5px}
.Locale_zh_CN .uiStream .uiStreamMessage, .Locale_zh_TW .uiStream .uiStreamMessage, .Locale_zh_HK .uiStream .uiStreamMessage{font-size:13px}
.Locale_ja_JP .uiStream .uiStreamMessage{font-size:12px}
.uiStreamMessage, .uiAttachmentTitle, .uiAttachmentDesc{word-break:break-word;word-wrap:break-word}
.uiStreamMessage .actorDescription{margin-bottom:3px}
.uiStreamMessage .suggestionBio .actorDescription{padding-bottom:0}
.uiStreamMessage .suggestionBio{width:410px}
div.uiAttachmentTitle{color:#333}
.permalink_stream{position:relative}
.uiStreamStory .mainWrapper{margin:0 35px 14px 0;padding-top:14px}
.uiStreamStory .actorPhoto{margin-bottom:14px;margin-top:14px}
.uiStreamStory .storyContent .storyInnerContent{margin-left:60px}
.uiStreamStory .uiStreamSubstory .storyInnerContentSmallPic{margin-left:40px}
.uiStream .uiStreamHide{margin-top:18px;position:absolute;right:0;top:0}
.uiStream .substoryHideSelector{float:right;margin:-2px 0 0 0}
.holdoutAdStory{display:none}
.holdoutAdStory:first-child + .uiStreamStory{border-top:none}
.uiStreamStory{padding:0;position:static}
.homeWiderContent .uiStreamStory{margin-left:-18px;padding-left:18px}
.uiStream .uiStreamHide .uiSelectorButton, .uiStream a.uiCloseButton.uiStreamHide, .uiStream .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .uiSelectorButton{left:-9999px;position:absolute}
.uiStream .uiStreamStory:hover .uiStreamHide .uiSelectorButton, .uiStream .uiStreamStory:hover a.uiCloseButton.uiStreamHide, .uiStream .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiSelectorButton, .uiStream .uiStreamStory .uiStreamHide .openToggler .uiSelectorButton, .uiStream .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .openToggler .uiSelectorButton{left:auto}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton, .uiStream .uiSelectorButton:focus{left:auto !important}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-178px -102px;height:19px;margin-top:-1px;width:18px}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-197px -102px}
.uiStreamStory:first-child a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab, .uiStreamStory:first-child a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab:hover{margin-top:0}
.uiStreamHide .uiStreamContextButton, .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .uiStreamContextButton{left:-9999px;position:absolute}
.uiStreamStory:hover .uiStreamHide .uiStreamContextButton, .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiStreamContextButton, .uiStreamStory .uiStreamHide.openToggler .uiStreamContextButton, .uiStreamStory:hover .uiStreamSubstory .uiStreamHide.openToggler .uiStreamContextButton{left:auto}
.uiStreamStory .uiStreamContextButton:focus{left:auto !important}
.uiStream .uiAttachmentDesc, .uiStream .uiStreamPassive, .uiStream .uiStreamRobotextBeforeMessage, .uiStream .uiAdminAttribution{color:gray}
.uiStream .tagIcon{vertical-align:bottom}
.uiStream .text_exposed_link{display:block;font-size:11px;padding-left:0;padding-top:4px}
.storyContent{padding-bottom:2px;position:relative}
.uiStream .uiStreamStoryHide .storyContent{display:none}
.uiStream .uiStreamStoryHidden{display:none}
.uiStreamAttachments .external.photoLink{overflow:hidden;position:relative}
.uiStreamAttachments .external .linkOverlay{background:url(/rsrc.php/v2/yj/r/QijIVO3ZIrO.png) repeat-x 0 0;bottom:0;color:#fff;height:36px;left:0;position:absolute;right:0}
.uiStreamAttachments .external .shareIcon{bottom:5px;height:16px;position:absolute;right:5px;width:16px}
.uiStreamAttachments .profilePhotoAttachment, .uiStreamAttachments .external img{max-height:90px;max-width:90px}
.uiStreamAttachments.streamAttachmentWidePhoto .external img{max-height:210px;max-width:210px}
.uiStream .uiAttachmentDetails{color:#333}
.uiAttachmentInline .uiAttachmentTitle, .uiAttachmentInline .uiAttachmentDesc{display:inline}
.uiStreamMessage .actorName, .uiStreamMessage .passiveName{font-weight:bold}
.uiStreamMessage .wallArrowIcon{background-image:url(/rsrc.php/v2/y-/r/DUQLd4S9N62.png);background-repeat:no-repeat;background-size:auto;background-position:-97px -108px;height:9px;margin:0 5px;width:11px}
.uiAttachmentNoMedia{border-left:2px solid #ccc}
.uiAttachmentMedia{float:left}
.uiAttachmentMediaFiles{outline:none;width:100%}
.uiStreamAttachments .text_exposed .truncatedMediaInfo{clear:both;display:block;padding-left:0;width:auto}
.uiStreamAttachments .truncatedMediaItem{display:none}
.uiStreamAttachments .text_exposed .truncatedMediaItem{display:block}
.uiStreamAttachments .truncatedMediaInfo{display:table;zoom:1}
.uiStreamCollapsed{border-top:1px solid #eee}
.uiStreamSubstories li.showAll{line-height:15px;padding:0}
.uiStreamSubstories li.showAll a{color:#6d84b4;display:block;padding:8px 0 0}
.uiStreamSubstories .uiUfi{width:350px}
.uiStream .uiStreamSeparator{background-color:#e9e9e9;border:0;height:7px;margin:6px 0;padding:0;text-align:center}
.uiStream .uiStreamSeparatorText{background-color:#fff;padding:0 5px;position:relative;top:-4px}
.uiStream .suppressBorder{border-top:0}
.uiStreamEdgeStoryLineTx{background-color:#fff;color:#ccc;left:32px;padding:0 8px;position:relative;top:-20px}
.uiStreamEdgeStoryLine hr{background:#e5e5e5;margin:8px 0 10px 0}
.uiStreamEdgeStoryLineWithLabel{height:23px;padding-top:1px}
.uiStreamFooter, .uiStreamSource, .uiStreamSource a, .uiStreamFooter .uiStreamSource a, .uiStreamAdditionalLogging, .uiStreamAdditionalLogging a, .uiStreamPrivacyContainer{color:#999}
.uiStreamNub{border-bottom:1px solid #c2cbe1;margin-top:2px}
html .uiStreamFooter{display:table-cell}
.uiStreamFooter{width:10000px}
.uiStreamHomepage .uiStreamStory:first-child{margin-top:-6px}
.uiStreamHomepage .uiStreamStory:first-child .actorPhoto{margin-top:18px}
.uiStreamHomepage .uiStreamStory:first-child .mainWrapper{padding-top:18px}
.uiStreamActionFooter .UIActionLinks_bottom a{color:#3b5998}
.uiStream .uiStreamStory .highlightSelector{margin:-2px 10px 0 0}
.uiStream .uiStreamStory .substoryHideSelector{margin:-2px 0 0}
.permalink_stream .highlightSelector .uiSelectorMenuWrapper, .uiStream .uiStreamStory .highlightSelector .uiSelectorMenuWrapper{margin:-3px 1px 0 0}
.permalink_stream .fbStreamPermalinkHeader .highlightSelector{float:right;margin-right:0;margin-top:0}
.permalink_stream .highlightSelector .highlightSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-741px -56px;border:0;box-shadow:none;display:inline-block;height:21px;line-height:21px;overflow:hidden;padding:0;text-indent:50px;width:21px}
.permalink_stream .bigHideButton .highlightSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-771px -27px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .highlightSelector .highlightSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-613px -56px}
.uiStream .bigHideButton .highlightSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-613px -27px}
.highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-677px -56px}
.bigHideButton .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-692px -27px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .highlightSelector .highlightSelectorButton, .highlightEditSelectorButton{border:0;box-shadow:none;display:inline-block;height:24px;line-height:24px;overflow:hidden;padding:0;text-indent:50px;width:21px}
.permalink_stream .highlightSelector .highlightSelectorButton, .permalink_stream .highlightSelector .highlightSelectorButton:active, .permalink_stream .highlightSelector .highlightSelectorButton:focus, .permalink_stream .highlightSelector .highlightSelectorButton:hover{background-color:transparent;border:0;height:21px;padding:0;width:21px}
.permalink_stream .bigHideButton .highlightSelectorButton, .permalink_stream .bigHideButton .highlightSelectorButton:active, .permalink_stream .bigHideButton .highlightSelectorButton:focus, .permalink_stream .bigHideButton .highlightSelectorButton:hover{height:25px;width:26px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:active, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:focus, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:hover, .uiStream .highlightSelector .highlightSelectorButton, .uiStream .highlightSelector .highlightSelectorButton:active, .uiStream .highlightSelector .highlightSelectorButton:focus, .uiStream .highlightSelector .highlightSelectorButton:hover, .highlightSelector .highlightEditSelectorButton{background-color:transparent;border:0;height:24px;padding:0;width:21px}
.uiStream .uiStreamStory .bigHideButton .uiSelectorButton, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:active, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:focus, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:hover, .uiStream .bigHideButton .highlightSelectorButton, .uiStream .bigHideButton .highlightSelectorButton:active, .uiStream .bigHideButton .highlightSelectorButton:focus, .uiStream .bigHideButton .highlightSelectorButton:hover, .bigHideButton .highlightEditSelectorButton{height:28px;width:26px}
.permalink_stream .highlightSelector .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-762px -56px;border:0;padding:0}
.permalink_stream .bigHideButton .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-797px -27px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton:hover, .highlightSelector .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-634px -56px;border:0;padding:0}
.uiStream .uiStreamStory .bigHideButton .uiSelectorButton:hover, .bigHideButton .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-639px -27px}
.highlightSelector .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-698px -56px;border:0;padding:0}
.bigHideButton .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-718px -27px}
.permalink_stream .highlightSelector .openToggler .highlightSelectorButton, .permalink_stream .highlightSelector.openToggler .highlightSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-783px -56px;background-color:transparent;border:0;height:21px;padding:0;width:21px}
.permalink_stream .bigHideButton .openToggler .highlightSelectorButton, .permalink_stream .bigHideButton.openToggler .highlightSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-823px -27px;height:25px;width:26px}
.uiStream .uiStreamStory .highlightSelector .openToggler .uiSelectorButton, .uiStream .uiStreamStory .highlightSelector .openToggler .uiSelectorButton:hover, .highlightSelector .openToggler .highlightSelectorButton, .highlightSelector.openToggler .highlightSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightEditSelectorButton:hover, .highlightSelector .openToggler .highlightEditSelectorButton, .highlightSelector.openToggler .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-655px -56px;background-color:transparent;border:0;height:24px;padding:0;width:21px}
.uiStream .uiStreamStory .bigHideButton .openToggler .uiSelectorButton, .uiStream .uiStreamStory .bigHideButton .openToggler .uiSelectorButton:hover, .bigHideButton .openToggler .highlightSelectorButton, .bigHideButton.openToggler .highlightSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightEditSelectorButton:hover, .bigHideButton .openToggler .highlightEditSelectorButton, .openToggler.bigHideButton .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-665px -27px;height:28px;width:26px}
.highlightSelector .openToggler .highlightEditSelectorButton, .highlightSelector.openToggler .highlightEditSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-719px -56px}
.bigHideButton .openToggler .highlightEditSelectorButton, .bigHideButton.openToggler .highlightEditSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-744px -27px}
.uiStreamBoulderThemeAgg .substoryActorPic img, .uiStreamBoulderThemeAgg .uiStreamInlineAction .inlineActionInputPic{height:32px;width:32px}
.uiStreamBoulderThemeAgg .storyContent{padding-bottom:2px}
.uiStreamBoulderThemeAgg .uiStreamSubstory{margin:0;padding:5px 0}
.uiStreamSubstories .uiStreamSubstory div.storyContent{padding-bottom:2px}
.uiStreamBoulderThemeAgg .uiStreamSubstories > li:first-child .uiStreamSubstory{padding-top:0}
.uiStreamStory .uiStreamSubstory .storyContent{padding:0}
.uiStreamLoader{text-align:center}
.uiStreamBoulderThemeAgg .uiStreamSubstories{margin-top:0;padding-top:0}
.uiStreamBoulderThemeAgg .uiStreamSubstories .uiStreamShowAll{border-bottom:0;text-align:left}
.uiStreamBoulderThemeAgg .uiStreamSubstories .uiStreamShowAll span{font-weight:normal}
.uiStreamBoulderThemeAgg .inlineSubstory .uiStreamSubstory{border-bottom:1px solid #e5e5e5;padding-bottom:10px}
.uiStreamBoulderThemeAgg .uiStreamAttachments .external{display:block;margin:0;padding-bottom:5px;padding-right:10px}
.uiStreamBoulderThemeAgg .uiStreamAttachments .external img{max-height:100px;max-width:120px}
.uiStreamInlineTextarea{display:block;height:19px;width:100%}
.uiStreamShareLikePageBox{border-top:1px solid #e9e9e9;padding-top:10px}
.uiStreamShareLikePageBox .uiPageLikeButton{margin-top:4px}
.uiStreamSubstory .storyInnerContent .rfloat.PageLikeButton, .uiStreamSubstory .storyInnerContent .rfloat .PageLikeButton{margin-right:25px}
.uiStreamHide .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamHide .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamSubstory .uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton{background-image:url(/rsrc.php/v2/yx/r/rU-QG3Izn71.png);background-repeat:no-repeat;background-size:auto;background-position:-533px -18px;height:7px;left:-4px;margin-top:14px;opacity:.5;width:10px}
.uiStreamStory .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamStory .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamSubstory .uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamStory .openToggler .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamStory .openToggler .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamSubstory .openToggler.uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton{left:-4px;opacity:.8}
.uiStreamSubstory .uiStreamHide.substoryHideSelector{margin:-12px 10px 0}
.uiStreamRedesign .uiStreamSubstories .uiStreamSubstory .uiUfi{width:358px}
.uiStreamRedesign .uiStreamMessage .messageBody{color:#333;font-size:13px;line-height:1.38}
.uiStreamRedesign .uiStreamStory .mainWrapper{margin-bottom:16px;padding-top:18px}
.permalinkBody .uiStreamRedesign .uiStreamStory .mainWrapper{margin-bottom:4px}
.uiStreamRedesign .uiStreamStory .actorPhoto{margin-bottom:16px;margin-top:18px}
.uiStreamRedesign .uiStreamStory .uiStreamPassive{margin-bottom:6px}
.uiStreamRedesign .uiStreamStory .actorDescription{margin-bottom:0;padding-bottom:4px}
.uiStreamRedesign .shareSubtext{border-left:2px solid #ccc;margin-top:10px;padding-left:8px}
.feedback_toggle_link .feedbackBling .text{line-height:normal}
a.feedbackBling{margin-left:-1px;margin-right:-1px;padding-bottom:0;padding-top:0}
.feedback_toggle_link .feedbackBling .img{margin-top:-1px}
.UFIRow{background-color:#edeff4;margin-top:1px;padding:4px;word-wrap:break-word}
.UFIUnseenItem{border-left:2px solid #a8b2ce;padding-left:2px}
.fbTimelineUFI .UFIContainer, .fbPagePostFooter .UFIContainer{width:100%}
.fbFlyoutDialog .UFIContainer{width:auto}
.tickerDialogBody .UFIUnseenItem{border-left:2px solid #a8b2ce;padding-left:2px}
.collapsed_comments .UFIList{display:none}
.embedded_comments .UFILikeSentence{display:block}
.fbTimelineUFI .UFIRow{border:0;padding-left:12px;padding-right:12px}
.fbTimelineUFI .UFIUnseenItem{border-left:2px solid #a8b2ce;padding-left:10px}
.tickerDialogFooter .UFIAddComment{padding:0}
.UFIAddComment .UFIAddCommentInput{display:block;height:20px}
.UFICommentTip{padding-top:1px}
.UFIMentionsInputWrap{position:relative}
.UFIPhotoAttachLinkWrapper{cursor:pointer;float:right;margin-bottom:-26px;overflow:hidden;top:-26px}
.UFIAddCommentWithPhotoAttacher .innerWrap{padding-right:29px}
.UFIBlingBox{border-bottom:1px solid #fff;display:inline-block;padding:3px 4px 3px 2px}
.UFIBlingBox:hover{background-color:#eceff5;border-bottom:1px solid #e5eaf1;text-decoration:none}
.UFIBlingBoxSprite{display:inline-block;margin-top:-1px;vertical-align:text-top}
.UFIBlingBoxText{line-height:normal;margin-left:2px;vertical-align:text-bottom}
.UFIBlingBoxLikeIcon{background-image:url(/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px;display:inline-block;height:13px;width:15px}
.UFIBlingBoxCommentIcon{background-image:url(/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -18px;display:inline-block;height:16px;width:16px}
.UFIBlingBoxReshareIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -88px;display:inline-block;height:16px;width:16px}
.UFIBlingBoxTimeline{float:right}
.UFIBlingBoxTimelineCommentIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -109px;display:inline-block;height:16px;width:16px}
.UFIBlingBoxTimelineItem{display:inline-block}
.UFIBlingBoxTimelineLikeIcon{background-image:url(/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px;display:inline-block;height:16px;width:16px}
.UFIBlingBoxTimelineReshareIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -88px;display:inline-block;height:16px;width:16px}
div.UFIContainer{overflow:hidden;padding:0}
.UFIContainer{margin:0;width:398px}
.UFIArrow{margin-bottom:-2px;margin-top:0}
.UFIArrow > i{background-image:url(/rsrc.php/v2/y7/r/UvyvLtJTQzO.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;display:block;height:5px;margin-left:17px;width:9px}
.UFIGiftIcon{display:block;height:13px;width:13px;padding-left:2px}
.UFIGiftProductImg{border:2px solid #d0d4e5;border-radius:2px}
.UFICommentLink, .UFIPagerLink, .UFIShareLink{display:block}
.UFICommentLink:focus, .UFIPagerLink:focus, .UFIShareLink:focus{outline:none;text-decoration:underline}
.UFICollapseIcon, .UFIPagerIcon, .UFIShareIcon{display:block;height:16px;margin-right:5px;vertical-align:top;width:16px}
.UFIWeakReferenceIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-218px -63px;display:inline-block;height:9px;margin-right:3px;width:9px}
.UFICommentLink:hover .UFICollapseIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-215px -88px}
.UFICollapseIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-232px -88px}
.UFIPagerIcon{background-image:url(/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -18px}
.UFIShareIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-300px -88px}
.UFILikeIcon{background-image:url(/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px;display:block;height:13px;width:15px}
.UFIOrderingModeSelector{margin-left:15px}
.UFIOrderingModeSelectorDownCaret{margin:6px 0 0 3px;vertical-align:top}
.UFIOrderingModeSelectorLoading{margin-right:6px}
.UFIOrderingModeSelectorPopover{display:block}
.ufiPagerLoading{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.UFIReplyList{background-color:#edeff4;padding:0 8px 8px 45px}
.UFIReplyList .UFIActorImage{height:20px;width:20px}
.UFIReplyList .UFIRow{background-color:#e9ecf1;border-top:1px solid #d0d4e4;margin-top:0;padding:4px}
.UFIReplyList .UFIRow.UFIUnseenItem{border-left:2px solid #a8b2ce;padding-left:2px}
.UFIReplyList .UFIRow:last-child{border-bottom:1px solid #d0d4e4}
.UFIReplyList .UFIRow .UFIPagerIcon{margin:2px}
.UFIReplyList .UFIRow.UFIPartialBorder{border-top:0;padding-top:0}
.UFIReplyList .UFIRow.UFIPartialBorder .UFIImageBlockImage{margin-top:5px}
.UFIReplyList .UFIRow.UFIPartialBorder .UFICommentContent{border-top:1px solid #d0d4e4;padding-top:4px}
.UFIReplyList .UFIPagerRow{line-height:20px}
.UFIReplyList .UFIRow .UFICollapseIcon{margin:1px 10px 3px 2px}
.UFIReplyList .UFIAddComment{padding:3px 4px}
.UFIReplyList .UFIAddComment.UFIAddCommentWithoutSeparator{border-top:0}
.UFIReplyList .UFIAddComment .UFIImageBlockImage{margin-bottom:1px;margin-top:1px}
.UFITranslucentReplyList{background-color:#f6f7fa}
.UFITranslucentReplyList a, .UFITranslucentReplyList .UFIRow{opacity:.5}
.UFIReplySocialSentenceRow{line-height:20px}
.UFIReplySocialSentenceRow:hover{background-color:#dee1e9}
.UFIReplySocialSentenceRow a:hover .UFIReplySocialSentenceLinkText.UFIReplySocialSentenceVerified,
.UFIReplySocialSentenceRow a:hover{text-decoration:none}
.UFIReplySocialSentenceRow a:hover .UFIReplySocialSentenceLinkText{text-decoration:underline}
.UFIReplySocialSentenceLoading{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.UFISeenCount{display:inline-block}
.UFISeenCountIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-97px -109px;display:inline-block;height:10px;margin:3px 5px 0 0;vertical-align:top;width:12px}
.UFIRow .UFISeenCountRight{margin:0 0 0 12px}
.UFISpamCommentLink, .UFISpamCommentWrapper{display:block}
.UFISpamCommentWrapper{margin-left:auto;margin-right:auto;outline:none;padding-bottom:4px;padding-top:5px;width:13px}
.UFISpamCommentWrapper .placeholderIcon{background-image:url(/rsrc.php/v2/yh/r/bskDTQQ4srq.png);background-repeat:no-repeat;background-size:auto;background-position:-837px -5px;display:block;height:3px;margin:4px 0 2px;vertical-align:middle;width:13px}
._50f3{font-size:12px;line-height:16px}
._50f4{font-size:14px;line-height:18px}
._50f5{font-size:16px;line-height:20px}
._50f6{font-size:18px;line-height:22px}
._50f7{font-weight:bold}
._5kx5{font-weight:normal}
._50f8{color:#898f9c}
._50f9{color:#4e5665}
.uiMoreLinkCaret{margin-left:2px;padding-bottom:2px}
.clearFix{zoom:1}
.clearFix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.likeTable{display:table}
.likeTableRow{display:table-row}
.likeTableCell{display:table-cell;vertical-align:top}
.likeStretchyRightTableCell{display:table-cell;vertical-align:top;width:9000px}
.hdn{visibility:hidden}
.noDisplay{display:none}
.block{display:block}
.ib{display:inline-block}
.abs{margin:0;position:absolute}
.relZero{position:relative;left:0;right:0}
.clipped{overflow:hidden}
.cursorPointer{cursor:pointer}
.cursorDefault{cursor:default}
.cursorColResize{cursor:col-resize}
.cursorRowResize{cursor:row-resize}
a.weakReference{color:gray;display:inline-block}
a.weakReference i{margin-right:3px}
.ReactLegacyMentionsInput{background-color:#fff}
.ReactLegacyMentionsInput .TextInputAppearance{background:transparent;border:0}
.SeeMoreLink{padding:4px 12px 0 3px;white-space:nowrap}

#bootloader_LWoI7 { height: 42px; }
.bootloader_LWoI7 { display:block !important; }