/*!CK:4116910407!*//*1381126769,173224501*/

.fbPhotoTagger ._570u{min-width:220px;padding:6px}
._570v{margin-left:3px;margin-top:1px}
._5ep9{background:none;border:2px solid rgba(255, 255, 255, .3);border-radius:3px;overflow:hidden;position:absolute}
._5epb{overflow:hidden;position:relative}
._5epc{position:relative}
._5epd{position:absolute}
._56b8{display:none}

#bootloader_o8kU1 { height: 42px; }
.bootloader_o8kU1 { display:block !important; }